.head {
    background-color:darkslateblue;
    color: cornsilk;
    text-align: center;
}

.thing {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url("../assignment/record.png");
    background-repeat: repeat;
    margin: 0px;

}